.fancy-title {
    @include flex(row, center, space-between, 10px);
    // margin-top: 28px;
    padding: 10px;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(255, 218, 228, 1);
    
    &.light {
        color: white;
        border-color: rgba(126, 106, 173, 1);

    }

}