.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: white;

    &.fade {
        opacity: 0;
        transition: 1s;
        z-index: 0;
    }

    .content {
        position: absolute;
        left: calc(50% - 220px / 2);
        top: calc(50% - 135px / 2);
        z-index: 11;

        @include flex(column, center, space-between, 25px);
    }

    .company-logo-container {
        width: 220px;
        @include flex(column, center, center);

        img {
            width: 70%;
            filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
        }
    }
}
