.signup,
.login {
    //  @include flex(column, center, center);

    .playspace-logo {

        animation-delay: 800ms;
        animation-timing-function: cubic-bezier(0.7, -0.4, 0.4, 1.4);
        animation-duration: 3500ms;
        animation-fill-mode: forwards;
        position: relative;
        margin-top: 15vh;
        animation-name: smart1;
        width: calc(var(--logo-width) * 1.5);
        // height: 35.85px;
    }



    //////////////////////! step-1 ///////////////////////
    .step-1 {
        @include flex(column, center, start);
        margin-top: 40px;
        width: 100%;
        max-width: 400px;
        min-height: 100dvh;
        
        .avatar-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            justify-items: center;
            align-items: center;
            margin-block: 30px;

            .add-avatar {
                @include flex(row, center, center);
                width: 93px;
                height: 93px;
                background-color: rgba(62, 85, 240, 1);
                border-radius: 50%;
                cursor: pointer;

            }

            .avatar-item {
                width: 93px;
                position: relative;

                img {
                    cursor: pointer;
                }

                .selected-avatar {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 116px;
                    height: 116px;
                    background: rgba(162, 170, 248, 1);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        transform: translateY(-5px);
                        // width: 93px;
                    }
                }
            }

        }

    }

    //////////////////////! step-2 ///////////////////////

    .step-2 {
        @include flex(column, center, start);
        margin-top: 40px;
        width: 100%;
        max-width: 400px;
        min-height: 100dvh;
        direction: rtl;

        .arrow {
            top: 30px;
            left: 30px;
            position: absolute;
            cursor: pointer;
        }

        ul.groups-container {
            @include flex(column, center, center, 10px);
            margin-top: 20px;

            li {
                @include flex(row, center, space-between);
                width: 296px;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 1);

                &:hover {
                    color: white;
                    background-color: rgba(67, 83, 241, 1);
                }


            }
        }

    }
}

@keyframes smart {
    0% {
        top: 0px;
    }

    50% {
        width: var(--logo-width)
    }

    100% {
        top: -15dvh;
        // top: -170px;
        // width: 178.54px;
        // width: var(--logo-width);

        // height: 32px;
    }
}

@keyframes smart1 {
    0% {
        // top: 0px;
        top: 0;
    }

    100% {
        // top: 50px;
        // top: -130px;
        top: -10dvh;
        // width: 178.54px;
        width: var(--logo-width);
        // height: 32px;
    }
}

@keyframes smart2 {
    0% {
        top: calc(50% - 35.85px / 2 - 50px);
    }

    100% {
        // top: calc((50% - 32px / 2) - 220px);
        top: -15dvh;
        left: calc(50% - 178.54px / 2);
        width: 178.54px;
        height: 32px;
    }
}

// for short layout
@keyframes smart3 {
    0% {
        top: calc(50% - 35.85px / 2 - 50px);
    }

    100% {
        // top: calc((50% - 32px / 2) - 220px);
        top: 50px;
        // top: 50px;
        left: calc(50% - 178.54px / 2);
        width: 178.54px;
        height: 32px;
    }
}