// EzerMeoded Regular
@font-face {
    font-family: 'EzerMeoded';
    src: url(../fonts/EzerMeodedPashut-Regular.woff2) format('woff2'),
         url(../fonts/EzerMeodedPashut-Regular.woff) format('woff'),
         url(../fonts/EzerMeodedPashut-Regular.eot) format('embedded-opentype');
    // font-display: swap;
}

// EzerMeoded Black
@font-face {
    font-family: 'EzerMeoded-Black';
    src: url(../fonts/EzerMeodedPashut-Black.woff2) format('woff2'),
         url(../fonts/EzerMeodedPashut-Black.woff) format('woff'),
         url(../fonts/EzerMeodedPashut-Black.eot) format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

