.rtl {
    direction: rtl;
    // font-family: "Rubik", sans-serif;
}

.clr1 {
    background-color: var(--clr-0);
}

.clr2 {
    background-color: var(--clr-1);
}

.clr3 {
    background-color: var(--clr-2);
}

.next-btn {
    @include btn;
}

.purple-btn {
    @include purple-btn;
}

.regular-btn {
    @include btn;
    margin-top: 15px;
}

.big-btn {
    @include btn(62px, 310px);
    position: fixed;  
    bottom: 20px;     
    left: 20px;     
    right: 20px;     
    width: calc(100% - 40px);      

}

.blue-btn {
    @include blue-btn;
}